.body {
    font-family: 'Bitter', serif;
    font-family: 'Open Sans', sans-serif;

}
.nav-link {
    font-family: 'Bitter', serif;
    font-size: 24px;
    
}
.navbar {
    background-color: #4BADA3;
}
.navbar-dark {
    color: #F2F2F2;
}
